.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
    margin: 0;
    padding: 0;
    background: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.container {
    display: flex;
    justify-content: space-between;
}
.info-text {
    margin: 3% auto auto 10%;
}
.logo-image {
    margin-bottom: 30%;
}
.hero-img > img {
    height: 100vh;
}
.text h1 {
    font-weight: bolder;
    letter-spacing: 3px;
}
.text p {
    font-size: 15px;
}
input[type=email] {
    width: 90%;
    padding: 12px;
    border-radius: 20px;
    outline: none;
    border: 1px solid grey;
}
.email-input {
    position: relative;
    margin-top: 10%;
}
.email-input  i {
    position: absolute;
    left: 85%;
    padding: 10px 30px 11px 30px;
    background-color: red;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}